.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 80px;
    margin-top: 20px;
}

.tiles .collection-tile {
    width: 150px;
    font-size: 13px;
    margin-bottom: 20px;
}

.collection-tile .name {
    font-weight: bold;
    font-size: 13px;
    margin-top: 8px;
    padding-left: 4px;
}

.collection-tile .profession {
    padding-left: 4px;
}

.tiles svg {
    width: 150px;
    height: 150px;
    font-size: 13px;
}

h1.collectionLabel {
    margin-top: 20px;
}