.connect-button {
    background-color: #00af4d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    width: 100%;
    font-size: 24px;
  }
  